[Unit]
Description=Deskflow keyboard/mouse client
PartOf=x-session.target

[Service]
Type=forking
ExecStart=/usr/bin/deskflow-client %i.nest

[Install]
WantedBy=x-session.target
