[Unit]
Description=Deskflow keyboard/mouse server
PartOf=x-session.target
ConditionFileNotEmpty=%h/.config/Deskflow/Deskflow.conf

[Service]
Type=forking
ExecStart=/usr/bin/deskflow-server

[Install]
WantedBy=x-session.target
